header{
    width: 60%;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    background: rgb(224, 224, 224);
    outline: none;
    
}

.playerLeft{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    gap: 10px;
}

.playerRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 10px;
}
